<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnionMaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OnionMaster.Properties.Settings>
            <setting name="ResourceFolder" serializeAs="String">
                <value>Resources\</value>
            </setting>
            <setting name="SessionDataFilename" serializeAs="String">
                <value>SessionData.json</value>
            </setting>
            <setting name="TileFilename" serializeAs="String">
                <value>tiles.png</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="VSync" serializeAs="String">
                <value>On</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Fullscreen</value>
            </setting>
            <setting name="WindowBorder" serializeAs="String">
                <value>Hidden</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="UPS" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>OnionMaster</value>
            </setting>
            <setting name="KeyMoveUp" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="KeyMoveDown" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="KeyMoveRight" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="KeyMoveLeft" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="KeyCloseApplication" serializeAs="String">
                <value>Escape</value>
            </setting>
        </OnionMaster.Properties.Settings>
    </userSettings>
</configuration>